*{
    text-align: center;
    padding: 0;
    margin: 0;
}

.App{
    width: 500px; 
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(0, 255, 0, 0.103);
    padding: 10px;
    border-radius: 90px;
}

.Botones{
    display: flex;
    padding: 10px;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.Botones > button{
    border: none;
    border-radius: 45px;
    padding: 10px;
    font-weight: bold;
    background-color: greenyellow;
}
